:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background-: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --Soft-violet-accent-transp: hsl(277, 64%, 61%, 0.5);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--Very-dark-blue-main-background);
}
.container {
  display: flex;
  justify-content: center;
  margin: 100px 100px 50px;
}
.box-info {
  padding: 50px;
  background-color: var(--Dark-desaturated-blue-card-background-);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.box-info h1 {
  color: var(--White-main-heading-stats);
}
.box-info h1 > span {
  color: var(--Soft-violet-accent);
}
.box-info p {
  margin-top: 20px;
  color: var(--Slightly-transparent-white-main-paragraph);
  line-height: 1.8;
  font-size: 14px;
}
.box-info .box-stat {
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.box-info .box-stat div:not(:first-of-type) {
  margin-left: 70px;
}
.box-info .box-stat .num {
  font-size: 20px;
  font-weight: 600;
}
.box-info .box-stat span:not(.num) {
  color: var(--Slightly-transparent-white-stat-headings);
  font-size: 13px;
}
.box-img {
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.box-img img {
  height: 100%;
  max-width: 100%;
}
.box-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Soft-violet-accent-transp);
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .box-stat div {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
    margin: 20px;
    align-items: center;
  }
  img {
    width: 335px;
    height: 100%;
  }
  .box-info {
    text-align: center;
  }
  .box-info .box-stat {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-info .box-stat div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .box-info .box-stat div:not(:first-of-type) {
    margin-left: 0;
  }
  .box-img img {
    height: 100%;
  }
}
.copyright {
  color: var(--Slightly-transparent-white-stat-headings);
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright img {
  width: 20px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}
